.login-body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 250px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

.login-container {
    display: flex;
    max-width: 1000px;
    width: 90%;
    justify-content: space-between;
}

.left-panel {
    width: 50%;
    padding: 20px;
}

.left-panel h1 {
    color: #00adef;
    font-size: 48px;
    margin-bottom: 10px;
}

.left-panel p {
    font-size: 20px;
    color: #606770;
}

.right-panel {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box {
    background: white;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 100%;
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background-color: #00adef;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #00adef;
}

.extras {
    margin-top: 10px;
}

.extras a {
    color: #00adef;
    text-decoration: none;
}

.create-account {
    background-color: #42b72a;
    margin-top: 10px;
}

.create-account:hover {
    background-color: #36a420;
}